* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: url('./sprites/background.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  image-rendering: crisp-edges;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(.3) sepia(1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

#gameScreen {
  /* image-rendering: crisp-edges; */
  image-rendering: pixelated;
}

#codeEditor, #gameScreen {
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: linear-gradient(
    to right,
    rgb(92, 168, 87),
    rgb(85, 219, 163)
  );
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 2.6em;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-size: 2.5em;
}

nav > ul > li {
  cursor: pointer;
  transition: .1s;
  user-select: none;
}

nav > ul > li:hover {
  transform: scale(1.3);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

a {
  color: white;
}

@media only screen and (max-width: 600px) {
  .background {
    flex-direction: column;
    gap: 0;
    position: initial;
    height: 100%;
    margin-top: 0;
  }

  #gameScreen, #codeEditor {
    height: 50%;
  }

  #codeEditor {
    width: 90%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  nav {
    position: initial;
  }
}